#calendar {
    color : #000;
}

th.fc-col-header-cell.fc-day {
    background: #6ecebd;
}

td.fc-daygrid-day.fc-day {
    background: #fff;
    color: #000;
}

.fc .fc-daygrid-day-number {
    color: #000;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: #fadf8b;
}