@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";
/*-------------------------------*/
/*           VARIABLES           */
/*-------------------------------*/
body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  font-weight: bold;
  text-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
}
body,
html {
  height: 100%;
  background-color: #583e7e;
}
.nav .open > a {
  background-color: transparent;
}
.nav .open > a:hover {
  background-color: transparent;
}
.nav .open > a:focus {
  background-color: transparent;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding-left: 0;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 220px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}
#wrapper.toggled #page-content-wrapper {
  margin-right: -220px;
  position: absolute;
}
#sidebar-wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  background: #1a1a1a;
  height: 100%;
  left: 230px;
  margin-left: -230px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.5s ease;
  width: 0;
  z-index: 1000;
}
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}
#page-content-wrapper {
  /* padding-top: 70px; */
  /* width: 100%; */
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 220px;
}
.sidebar-nav li {
  display: inline-block;
  line-height: 20px;
  position: relative;
  width: 100%;
}
.sidebar-nav li:before {
  background-color: #1c1c1c;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}
.sidebar-nav li:first-child a {
  background-color: #1a1a1a;
  color: #ffffff;
}
.sidebar-nav li:nth-child(2):before {
  background-color: #402d5c;
}
.sidebar-nav li:nth-child(3):before {
  background-color: #4c366d;
}
.sidebar-nav li:nth-child(4):before {
  background-color: #583e7e;
}
.sidebar-nav li:nth-child(5):before {
  background-color: #64468f;
}
.sidebar-nav li:nth-child(6):before {
  background-color: #704fa0;
}
.sidebar-nav li:nth-child(7):before {
  background-color: #7c5aae;
}
.sidebar-nav li:nth-child(8):before {
  background-color: #8a6cb6;
}
.sidebar-nav li:nth-child(9):before {
  background-color: #987dbf;
}
.sidebar-nav li:hover:before {
  transition: width 0.2s ease-in;
  width: 100%;
}
.sidebar-nav li a {
  color: #dddddd;
  display: block;
  padding: 10px 15px 10px 30px;
  text-decoration: none;
}
.sidebar-nav li.open:hover before {
  transition: width 0.2s ease-in;
  width: 100%;
}
.sidebar-nav .dropdown-menu {
  background-color: #222222;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  font-size: 1.0vw;
  height: 65px;
  line-height: 44px;
}
#mainNav {
    background: #dc5a32;
}
.orderList {
    border-radius: 5px;
}
.orderList_text {
    padding: 5px;
    background: #2dddcc;
    margin: 0;
}
.nav>li>a, .nav>li>a {
    text-decoration: none;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #987dbf;
}


/*-------------------------------*/
/*       cro_hme-Cross         */
/*-------------------------------*/
.cro_hme {
  background: transparent;
  border: none;
  display: block;
  height: 32px;
  margin-left: 15px;
  position: fixed;
  top: 10px;
  width: 32px;
  z-index: 999;
}
.cro_hme:hover {
  outline: none;
}
.cro_hme:focus {
  outline: none;
}
.cro_hme:active {
  outline: none;
}
.cro_hme.is-closed:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 0.8vw;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.cro_hme.is-closed:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}
.cro_hme.is-closed:hover .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  top: 0;
}
.cro_hme.is-closed:hover .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  bottom: 0;
}
.cro_hme.is-closed .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
  top: 5px;
}
.cro_hme.is-closed .hamb-middle {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: -2px;
  top: 50%;
}
.cro_hme.is-closed .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 5px;
}
.cro_hme.is-closed .hamb-top,
.cro_hme.is-closed .hamb-middle,
.cro_hme.is-closed .hamb-bottom,
.cro_hme.is-open .hamb-top,
.cro_hme.is-open .hamb-middle,
.cro_hme.is-open .hamb-bottom {
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}
.cro_hme.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #fff;
  margin-top: -2px;
  top: 50%;
}
.cro_hme.is-open .hamb-middle {
  background-color: #fff;
  display: none;
}
.cro_hme.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #fff;
  margin-top: -2px;
  top: 50%;
}
.cro_hme.is-open:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 0.8vw;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.cro_hme.is-open:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}

/* SOME DEMO STYLES - NOT REQUIRED */
body,
html {
  background-color: #c6c6dd;
  font-size: 0.8vw;
}
body h1,
body h2,
body h3,
body h4 {
  color: rgba(255, 255, 255, 0.9);
}
body p,
body blockquote {
  color: rgba(255, 255, 255, 0.7);
}
body a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
}
body a:hover {
  color: #fff;
}

/* card */
.card {
    position: relative;
    /* width: 320px; */
    height: 200px;
    margin: 7px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(110, 123, 140, 0.3);
    flex: auto;
    cursor: pointer;
}
.card:hover, .card:active, .card:focus {
    background: aqua;
}
.card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
        object-fit: cover;
}
.card:nth-child(5) {
    flex: 545px;
}
  
  .card-half {
    display: flex;
    width: 320px;
    height: 320px;
    margin: 7px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(110, 123, 140, 0.3);
    flex-flow: column wrap;
    justify-content: flex-end;
    flex: auto;
  }
  
  .wide {
    width: 480px;
  }
  
  .card-img {
    position: relative;
    height: 160px;
    flex: auto;
  }
  .card-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .label {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fdd701;
    font-size: 1.0vw;
  }
  
  .card-text {
    padding: 0 20px;
  }
  .card-text p {
    margin: 0;
    padding: 0;
    color: #888888;
  }
  
  .card-tools {
    display: flex;
    height: 50px;
    padding: 15px 20px;
    flex-flow: row wrap;
    align-items: flex-end;
  }

  .info-center {
    display: flex;
    padding: 0 10px;
    text-align: inherit;
    color: white;
    text-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
    font-size: 0.7vw;
    height: 50px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
  }

.footer_cnt {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  padding: 0;
  position: fixed;
  z-index: 9999;
  background: #1a1a1a;
  bottom: 0;
  right: 0;
}

.col {
  padding : 0 5px;
}

#logNavBar {
  display: block; 
  margin-left: 90px;
}

/* grid style */
.astar{
	color: orange;
}
#grid {
/* 	margin-top: 10px; */
}
.tui-grid-cell-header {
    padding: 0px 0px !important ; 
    background: #e2effc;
    border: 1px solid #ddd;
}
.tui-grid-table td {
    background-color: #fff;
    border: 1px solid #ddd;
}
.tui-grid-cell-editable {
    background-color: #ffffdb !important;
}
.tui-grid-table {
        border: 0px solid #ddd !important;
}
.tui-grid-cell-header {
    padding: 0px 0px;
}
.tui-grid-container {
    font-size: 0.7vw;
}
.tui-grid-table th {
	background: #6ecebd;
  color: #fff;
	font-size: 0.7vw;
	cursor: pointer;
}

.searchAM {
  width: 100%; 
  margin-top: 8px;
}

.searchAM th {
    padding :0 !important; 
    text-align: center;
    background-color: #e2effc;
    word-break: keep-all;
    min-width: 60px;
    color: #23395d;
    font-size: 0.7vw;
    font-weight:600;
    letter-spacing: -1px;
    border: 1px solid #ccc;
 }
.searchAM td {
	border: 1px solid #ccc;
	min-width: 80px;
    word-break: keep-all;
    background: #fff;
} 

.grid_header {
  height: 25px; 
  background-color: #6ecebd !important;
}

.grid_header_flex {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  font-size: 0.9vw;
  color: #fff;
  align-content: center;
  font-weight: bold;
  text-shadow: 3px 3px 10px rgb(0 0 0 / 20%);
}

.btn_cut {
  font-size: 0.8vw;
  border: 1px solid #b9b9b9;
}

.boxBtn-am{
  padding: 0.5rem 1.75rem;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  margin: 5px 0 0;
  justify-content: space-between;
}

.search_tab_box {
  display: flex;
  align-items: center;
  margin-top: -5px;
}

.nav-tabs>li>a {
  min-width: 80px;
  text-align: center;
}

.nav-tabs {
  border : 0;
}

.searchTerm {
  border: 3px solid #4a3123;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  border: 1px solid #4a3123;
  background: #4a3123;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  padding: 7px;
  font-size: 1.1vw;
}

.search_btn {
  padding: 5px 10px; 
  margin: 0 3px;
  background-color: #fadf8b !important;
  color: #646464 !important;
  font-weight: bold;
}

.search_btn:focus, .search_btn:active {
  box-shadow: inset 1px 1px 3px #000;
  outline: 0px !important;
  outline-offset: 0px !important;
}

.search_btn i {
  margin-right: 3px;
}

.grid_tui {
  border: 1px solid #000;
  margin: 3px 0px;
  border-radius: 8px;
  background: #6768ab;
}

/* process bar css */
.design-process-section .text-align-center {
    line-height: 25px;
    margin-bottom: 12px;
  }
  .design-process-content {
    border: 1px solid #e9e9e9;
    position: relative;
    padding: 16px 34% 30px 30px;
  }
  .design-process-content img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    max-height: 100%;
  }
  .design-process-content h3 {
    margin-bottom: 16px;
  }
  .design-process-content p {
    line-height: 26px;
    margin-bottom: 12px;
  }
  .process-model {
    list-style: none;
    padding: 0;
    position: relative;
    max-width: 600px;
    margin: 10px auto 5px;
    border: none;
    z-index: 0;
  }
  .process-model li::after {
    background: #e5e5e5 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    margin: 0 auto;
    position: absolute;
    right: -34px;
    top: 22px;
    width: 85%;
    z-index: -1;
  }
  .process-model li.visited::after {
    background: #6ecebd;
  }
  .process-model li:last-child::after {
    width: 0;
  }
  .process-model li {
    display: inline-block;
    width: 18%;
    text-align: center;
    float: none;
  }
  .nav-tabs.process-model > li.active > a,
  .nav-tabs.process-model > li.active > a:hover,
  .nav-tabs.process-model > li.active > a:focus,
  .process-model li a:hover,
  .process-model li a:focus {
    border: none;
    background: transparent;
  }
  .process-model li a {
    padding: 0;
    border: none;
    color: #606060;
  }
  .process-model li.active,
  .process-model li.visited {
    color: #6ecebd;
  }
  .process-model li.active a,
  .process-model li.active a:hover,
  .process-model li.active a:focus,
  .process-model li.visited a,
  .process-model li.visited a:hover,
  .process-model li.visited a:focus {
    color: #6ecebd;
  }
  .process-model li.active p,
  .process-model li.visited p {
    font-weight: 600;
  }
  .process-model li i {
    display: block;
    height: 45px;
    width: 45px;
    text-align: center;
    margin: 0 auto;
    background: #f5f6f7;
    border: 2px solid #e5e5e5;
    line-height: 40px;
    font-size: 0.9vw;
    border-radius: 50%;
  }
  .process-model li.active i,
  .process-model li.visited i {
    background: #fff;
    border-color: #6ecebd;
  }
  .process-model li p {
    font-size: 0.6vw;
    margin-top: 5px;
    margin-bottom: 0;
  }
  .process-model.contact-us-tab li.visited a,
  .process-model.contact-us-tab li.visited p {
    color: #606060 !important;
    font-weight: normal;
  }
  .process-model.contact-us-tab li::after {
    display: none;
  }
  .process-model.contact-us-tab li.visited i {
    border-color: #e5e5e5;
  }
  
  @media screen and (max-width: 560px) {
    .more-icon-preocess.process-model li span {
      font-size: 1.5vw;
      height: 50px;
      line-height: 46px;
      width: 50px;
    }
    .more-icon-preocess.process-model li::after {
      top: 24px;
    }
  }
  @media screen and (max-width: 380px) {
    .process-model.more-icon-preocess li {
      width: 16%;
    }
    .more-icon-preocess.process-model li span {
      font-size: 0.9vw;
      height: 35px;
      line-height: 32px;
      width: 35px;
    }
    .more-icon-preocess.process-model li p {
      font-size: 0.5vw;
    }
    .more-icon-preocess.process-model li::after {
      top: 18px;
    }
    .process-model.more-icon-preocess {
      text-align: center;
    }
  }
  


/* bootstraop custom */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 940px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1182px;
    }
}

@media (min-width: 1500px) {
    .container {
        width: 1382px;
    }
}

@media (min-width: 1800px) {
    .container {
        width: 1682px;
    }
}
